<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wall</title>
    <link rel="stylesheet" href="../assets/stylesheets/wall-style.css">
</head>
<body>
    <% if(errors){ %> 
    <p><%= errors %></p>
    <% } %>
    <h1>Welcome to the Wall</h1>
    <a href="/logout">Logout</a>
    <h2>Create a Post</h2>
    <form action="/post_message" method="post">
        <input type="text" name="post_field">
        <input type="submit" value="Create Post">
    </form>
    <% for(let index in posts) { %>
        <div class="messages">
            <h3><%= posts[index].posted_by %> - <%= posts[index].created_at %></h3>
            <p><%= posts[index].message %></p>
        </div>
        <% if(posts[index].user_id === user.user_id){ %>
            <form action="/delete_post" method="post">
                <input type="hidden" name="message_id" value="<%= posts[index].id %>">
                <input type="submit" value="Delete Post">
            </form>
        <% } %>
            <% for(comment_id in  posts[index].comments){  %>
                <div class="comments">
                    <h3>Comment by: <%= posts[index].comments[comment_id].commented_by %> - <%= posts[index].comments[comment_id].created_at %></h3>
                    <p><%= posts[index].comments[comment_id].comment %></p>
                    <% if(posts[index].comments[comment_id].comment_user_id === user.user_id){ %>
                        <form action="/delete_comment" method="post">
                            <input type="hidden" name="comment_id" value="<%= posts[index].comments[comment_id].comment_id %>">
                            <input type="submit" value="Delete Comment">
                        </form>
                    <% } %>
                </div>                
            <% } %>
            <form action="/post_comment" method="post">
                <input type="text" name="comment_field">
                <input type="hidden" name="message_id" value="<%= posts[index].id %>">
                <input type="submit" value="Submit Comment">
            </form>
    <% } %>
</body>

</html>